{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cabbie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel='shortcut icon' type='image/x-icon' href='https://img.icons8.com/bubbles/2x/car.png' />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutusstyle.css' %}">
    <link href="{% static 'css/poststyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/requeststyle.css' %}" rel="stylesheet">
</head>
<body class="bg-light py-5">

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container"><a href="{% url 'cabs:main' %}" class="navbar-brand d-flex align-items-center"> <i
            class="fa fa-car" aria-hidden="true"></i></i><strong>Cabbie</strong></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'cabs:main' %}" class="nav-link font-italic"> Home </a></li>
                <li class="nav-item active"><a href="{% url 'cabs:post' %}" class="nav-link font-italic"> Book </a></li>
                <li class="nav-item active"><a href="{% url 'cabs:feedback' %}" class="nav-link font-italic">
                    Feedback </a></li>
                <li class="nav-item active"><a href="{% url 'cabs:contact' %}" class="nav-link font-italic">Contact
                    us </a></li>
                {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'cabs:bookings' %}">My bookings</a>
            <a class="dropdown-item" href="/dialogs/akshat7010">My chats</a>
          <a class="dropdown-item" href="{% url 'cabs:notifications' %}">Notifications
            <strong class="fa-stack-xs" style="color:red">&nbsp; {{nnum}}</strong>
          </a>
            <a class="dropdown-item" href="{% url 'cabs:requestpage' %}">Requests
            <strong class="fa-stack-xs" style="color:red">&nbsp;{{num}}</strong>
            </a>
            <a class="dropdown-item" href="{% url 'cabs:groups' %}">My Groups</a>
          <div class="dropdown-divider"></div>
          <form class="form-inline my-2 my-lg-0" action="/cabs/logout/" method="post" >
						{% csrf_token %}
    					<button type="submit" style="background:none;cursor: pointer;
							border: 0; color:#333 ;float:right;">&nbsp;&nbsp;&nbsp;&nbsp;Logout</button>
          </form>
        </div>
      </li>
        {% endif %}
      {% if not user.is_authenticated %}
		<li class="nav-item active"><a href="{% url 'cabs:login' %}" class="nav-link font-italic"> Login </a></li>
        <li class="nav-item active"><a href="{% url 'cabs:signup' %}" class="nav-link font-italic"> Signup </a></li>
      	{% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %} {% endblock %}
<footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Cabbie.com All rights reserved.</p>
    </div>
</footer>
</body>
</html>