{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cabbie</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='{% static "taxi.jpg" %}' />

</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'cabs:main' %}">
        <img alt="" class="d-inline-block align-top" height="30" src="{% static 'taxi.jpg' %}" width="30">
        Cabbie
    </a>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'cabs:main' %}">Home</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cabs:aboutus' %}">About us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'cabs:post' %}">Book<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                   id="navbarDropdown" role="button">
                    Welcome {{user.username}}
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cabs:bookings' %}">My bookings</a>
                    <a class="dropdown-item" href="{% url 'cabs:notifications' %}">Notifications</a>
                    <div class="dropdown-divider"></div>
                    <form action="/cabs/logout/" class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}
                        <button style="background:none;cursor: pointer;
							border: 0; color:#333 ;float:right;" type="submit">Logout
                        </button>
                    </form>
                </div>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cabs:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cabs:signup' %}">Signup</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
<div class="container">
<h2>{{ title }} :</h2>
</br>
{% if not passenger_list %}
    <h3>Sorry, there is no booking with similar timings.</h3>
    <p>We will notify you shortly.</p>
{% else %}
    {% if title == "Notifications" %}
        <p>There are some bookings which might be of your interest. </p>
    {% endif %}
    {% for obj in passenger_list %}
    <div class="card">
        <h5 class="card-header">{{ obj.created_by}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ obj.date}} {{ obj.time}}</h5>
            <p class="card-text">Number of passengers : {{ obj.passengers}}</p>
            <p class="card-text">Gender : {{ obj.gender}}</p>
            <p class="card-text">Pickup from: {{ obj.pickup_from}}</p>
            <p class="card-text">Destination : {{ obj.destination}}</p>
            <div class="btn-group">
              <button class="btn btn-primary" onclick="window.location.href = '/chat/{{ obj.created_by}}';" type="button">Chat</button>
                <button class="btn btn-primary" onclick="window.location.href = '/cabs/brequest/{{user.username}}/{{ obj.created_by}}/{{obj.id}}';myFunction()" type="button">Ask to share</button>
                    <script>
                        function myFunction() {
                          alert("Your request has been send.We will notify you if it get accepted.");
                        }
                    </script>
            </div>
        </div>
</div>
    </br>
{% endfor %}
{% endif %}
</div>
</body>
</html>