{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-light py-5">
    <div class="container py-5">
<h2>{{ title }} :</h2>
<br>
{% if  not passenger_list  and  not groups_list  %}
    <h3>Sorry, there is no booking with similar timings.</h3>
    <p>We will notify you shortly.</p>
{% else %}
    {% if title == "Notifications" %}
        <p>There are some bookings which might be of your interest. </p>
    {% endif %}
        {% for obj in groups_list %}
        <div class="card">
          <h5 class="card-header">{{ obj.date}}  &nbsp; &nbsp;&nbsp;
              {% if obj.time1 < obj.time2 %}
              {{ obj.time1}}-{{obj.time2}}
              {% else %}
              {{ obj.time2}}-{{obj.time1}}
              {% endif %}
          </h5>
          <div class="card-body">
            <p class="card-text">First Passenger: {{ obj.created_by1}}</p>
              <p class="card-text">Gender: {{ obj.gender1}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from1}}</p><br>
              <p class="card-text">Second passenger: {{ obj.created_by2}}</p>
              <p class="card-text">Gender: {{ obj.gender2}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from2}}</p><br>
              <p class="card-text">Destination: {{ obj.destination}}</p>
              {% if obj.passengers1 == 2 %}
              <p class="card-text">{{ obj.created_by1}} is bringing 1 more passengers.</p>
              {% elif obj.passengers1 == 3 %}
              <p class="card-text">{{ obj.created_by1}} is bringing 2 more passengers.</p>
              {% endif %}
              {% if obj.passengers2 == 2 %}
              <p class="card-text">{{ obj.created_by2}} is bringing 1 more passengers.</p>
              {% elif obj.passengers2 == 3 %}
              <p class="card-text">{{ obj.created_by2}} is bringing 2 more passengers.</p>
              {% endif %}
              <p class="card-text">Total passengers : {{ obj.total_passengers}}</p>
          </div>
        </div>
        <br>
{% endfor %}
    {% for obj in passenger_list %}
    <div class="card">
        <h5 class="card-header">{{ obj.created_by}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ obj.date}} {{ obj.time}}</h5>
            <p class="card-text">Number of passengers : {{ obj.passengers}}</p>
            <p class="card-text">Gender : {{ obj.gender}}</p>
            <p class="card-text">Pickup from: {{ obj.pickup_from}}</p>
            <p class="card-text">Destination : {{ obj.destination}}</p>
            <div class="btn-group">
              <button class="btn btn-primary" onclick="window.location.href = '/chat/{{ obj.created_by}}';" type="button">Chat</button>
                <button class="btn btn-primary" onclick="window.location.href = '/cabs/brequest/{{user.username}}/{{ obj.created_by}}/{{obj.id}}';myFunction()" type="button">Ask to share</button>
                    <script>
                        function myFunction() {
                          alert("Your request has been send.We will notify you if it get accepted.");
                        }
                    </script>
            </div>
        </div>
</div>
    <br>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}