{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="bg-light py-5">
    <div class="container py-5">
        <h2>{{ title }} :</h2>
        <br>
        {% if not groups3_list %}
        {% if not groups2_list %}
        {% if not groups4_list %}
        <h3>Sorry, no results found.</h3>
        {% endif %}
        {% endif %}
        {% endif %}
        {% for obj in groups2_list %}
        <div class="card">
          <h5 class="card-header">{{ obj.date}}  &nbsp; &nbsp;&nbsp;
              {% if obj.time1 < obj.time2 %}
              {{ obj.time1}}-{{obj.time2}}
              {% else %}
              {{ obj.time2}}-{{obj.time1}}
              {% endif %}
          </h5>
          <div class="card-body">
            <p class="card-text">First Passenger: {{ obj.created_by1}}</p>
              <p class="card-text">Gender: {{ obj.gender1}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from1}}</p><br>
              <p class="card-text">Second passenger: {{ obj.created_by2}}</p>
              <p class="card-text">Gender: {{ obj.gender2}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from2}}</p><br>
              <p class="card-text">Destination: {{ obj.destination}}</p>
             <p class="card-text">Group ID: {{ obj.id}}</p>
              {% if obj.passengers1 != 1 %}
              <p class="card-text">{{ obj.created_by1}} is bringing more passengers.</p>
              {% endif %}
              {% if obj.passengers2 != 1 %}
              <p class="card-text">{{ obj.created_by2}} is bringing more passengers.</p>
              {% endif %}
              <p class="card-text">Total passengers : {{ obj.total_passengers}}</p>
            <a class="btn btn-primary" href="{{obj.id}}/Gcancel" onclick="myFunction();">Cancel your booking</a>
              <script>
                                function myFunction() {
                                  alert("Your booking has been cancelled.");
                                }
              </script>
          </div>
        </div>
        <br>
        {% endfor %}
        {% for obj in groups3_list %}
        <div class="card">
          <h5 class="card-header">{{ obj.date}}  &nbsp; &nbsp;&nbsp;
              {% if obj.time1 < obj.time2 and obj.time1 < obj.time3 %}
              {{ obj.time1}}-
              {% endif %}
              {% if obj.time2 < obj.time1 and obj.time2 < obj.time3 %}
              {{ obj.time2}}-
              {% endif %}
              {% if obj.time3 < obj.time1 and obj.time3 < obj.time2 %}
              {{ obj.time3}}-
              {% endif %}
              {% if obj.time3 > obj.time1 and obj.time3 > obj.time2 %}
              {{ obj.time3}}
              {% endif %}
              {% if obj.time1 > obj.time2 and obj.time1 > obj.time3 %}
              {{ obj.time1}}
              {% endif %}
              {% if obj.time2 > obj.time1 and obj.time2 > obj.time3 %}
              {{ obj.time2}}
              {% endif %}
          </h5>
          <div class="card-body">
            <p class="card-text">First Passenger: {{ obj.created_by1}}</p>
              <p class="card-text">Gender: {{ obj.gender1}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from1}}</p><br>
              <p class="card-text">Second passenger: {{ obj.created_by2}}</p>
              <p class="card-text">Gender: {{ obj.gender2}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from2}}</p><br>
              <p class="card-text">Third Passenger: {{ obj.created_by3}}</p>
              <p class="card-text">Gender: {{ obj.gender3}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from3}}</p><br>
              <p class="card-text">Destination: {{ obj.destination}}</p>
             <p class="card-text">Group ID: {{ obj.id}}</p>
              {% if obj.passengers1 != 1 %}
              <p class="card-text">{{ obj.created_by1}} is bringing 1 more passengers.</p>
              {% endif %}
              {% if obj.passengers2 != 1 %}
              <p class="card-text">{{ obj.created_by2}} is bringing 1 more passengers.</p>
              {% endif %}
              {% if obj.passengers3 != 1 %}
              <p class="card-text">{{ obj.created_by3}} is bringing 1 more passengers.</p>
              {% endif %}
              <p class="card-text">Total passengers : {{ obj.total_passengers}}</p>
            <a class="btn btn-primary" href="{{obj.id}}/Gcancel3" onclick="myFunction();">Cancel your booking</a>
              <script>
                                function myFunction() {
                                  alert("Your booking has been cancelled.");
                                }
              </script>
          </div>
        </div>
        <br>
{% endfor %}
        {% for obj in groups4_list %}
        <div class="card">
          <h5 class="card-header">{{ obj.date}}  &nbsp; &nbsp;&nbsp;
              {% if obj.time1 < obj.time2 and obj.time1 < obj.time3 and obj.time1 < obj.time4 %}
              {{ obj.time1}}-
              {% endif %}
              {% if obj.time2 < obj.time1 and obj.time2 < obj.time3 and obj.time2 < obj.time4%}
              {{ obj.time2}}-
              {% endif %}
              {% if obj.time3 < obj.time1 and obj.time3 < obj.time2 and obj.time3 < obj.time4%}
              {{ obj.time3}}-
              {% endif %}
              {% if obj.time4 < obj.time1 and obj.time4 < obj.time2 and obj.time4 < obj.time3%}
              {{ obj.time4}}-
              {% endif %}
              {% if obj.time3 > obj.time1 and obj.time3 > obj.time2 and obj.time3 > obj.time4 %}
              {{ obj.time3}}
              {% endif %}
              {% if obj.time1 > obj.time2 and obj.time1 > obj.time3 and obj.time1 > obj.time4 %}
              {{ obj.time1}}
              {% endif %}
              {% if obj.time2 > obj.time1 and obj.time2 > obj.time3 and obj.time2 > obj.time4%}
              {{ obj.time2}}
              {% endif %}
              {% if obj.time4 > obj.time1 and obj.time4 > obj.time2 and obj.time4 > obj.time3%}
              {{ obj.time4}}
              {% endif %}
          </h5>
          <div class="card-body">
            <p class="card-text">First Passenger: {{ obj.created_by1}}</p>
              <p class="card-text">Gender: {{ obj.gender1}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from1}}</p><br>
              <p class="card-text">Second passenger: {{ obj.created_by2}}</p>
              <p class="card-text">Gender: {{ obj.gender2}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from2}}</p><br>
              <p class="card-text">Third Passenger: {{ obj.created_by3}}</p>
              <p class="card-text">Gender: {{ obj.gender3}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from3}}</p><br>
              <p class="card-text">Fourth Passenger: {{ obj.created_by4}}</p>
              <p class="card-text">Gender: {{ obj.gender4}}</p>
              <p class="card-text">Pickup from: {{ obj.pickup_from4}}</p><br>
              <p class="card-text">Destination: {{ obj.destination}}</p>
             <p class="card-text">Group ID: {{ obj.id}}</p>
              <p class="card-text">Total passengers : {{ obj.total_passengers}}</p>
            <a class="btn btn-primary" href="{{obj.id}}/Gcancel4" onclick="myFunction();">Cancel your booking</a>
              <script>
                                function myFunction() {
                                  alert("Your booking has been cancelled.");
                                }
              </script>
          </div>
        </div>
        <br>
{% endfor %}
    </div>
</div>
{% endblock %}